@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.product-container{

padding: 1rem 2rem;
display: flex;
flex-direction: column;
align-items: center;

}
.product-List{
  display: flex;
  gap: 45px;
  flex-wrap: wrap;
}